
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 3em 10%;
    background-color: rgb(255, 249, 241);
}
h1 {
    font-family: PT Sans Narrow;
    font-size: 1.8rem;
    font-weight: 100;
    color: rgb(39, 135, 127);
    text-align: center;
    
}
h2 {
    font-size: 2rem;
    padding: 2rem;
    color: rgb(39, 135, 127);
}

nav {
    margin: 1em auto;
    background-color: rgb(39, 135, 127);
    border-radius: 1em;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-flex;
    justify-content: space-around;
}
 nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 1em;
 } 
 nav a:hover {
    text-decoration: underline;
 }  

section {
    display: flex;
}

article {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(39, 135, 127);
    border-radius: 1em;
    margin: 1em 0.5em;
}
article h2 {
    text-align: center;
    margin: 0 0.5em;
}
article p {
    margin: 1em 2em;
    line-height: 1.5em;
}
article a {
    color: rgb(39, 135, 127);
    text-decoration: none;
}
article a:hover {
    text-decoration: underline;
}
.article-img {
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(39, 135, 127);
    border-radius: 0em;
    max-height: 200px;
}

footer {
    display: flex;
    margin: 0.5em;
}
footer div {
    flex: 1;
}
#header-logo {
    display: block;
    margin: 0 auto;
    max-height: 250px;
}
#promo-banner {
    display: block;
    border: 2px solid rgb(39, 135, 127);
    background-image: linear-gradient(rgba(39, 135, 127, 0), rgba(39, 135, 127, 0.3)), url(/src/cacti-banner.jpg);
    background-position: bottom;
    background-size: cover;
    border-radius: 1em;
    transition: all 0.3s ease-in-out; 
    
}
#promo-banner:hover {
   transform: scale(1.02); 
}
#promo-banner h2 {
    margin: 0;
    color: rgb(255, 255, 255);
}
#promo-banner p {
    margin: 0 2em 1em;
    color: rgb(255, 255, 255);
}
#promo-banner a {
    text-decoration: none;
    color: rgb(39, 135, 127);
}

#copyright {
    margin-top: 2.5em;
    text-align: right;
    color: rgb(39, 135, 127);
}